/** 全局CSS **/
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5% !important; /*10 ÷ 16 × 100% = 62.5%*/
}

body {
  font-size: 1.4rem !important;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.5rem;
}


