node_modules
dist
.tmp
bower_components
test/bower_components
#.babelrc
#.bowerrc
#.editorconfig
#.gitattributes
#.gitignore
.idea/.name
.idea/encodings.xml
.idea/gulp-angular-webapp.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
#.yo-rc.json
#app/apple-touch-icon.png
#app/favicon.ico
#app/fonts/
#app/images/
#app/index.html
#app/robots.txt
#bower.json
#gulpfile.js
#package.json
#test/
